{% extends "layout.html" %}

{% block title %}
    Create Meal Plan
{% endblock %}

{% block main %}
    <h1>Here you can create new mealplan</h1>
    <h2>to be implemented</h2>

    <form action="" method="POST">
        {% csrf_token %}
        <label for="name">Meal Plan name:</label><br>
        <input type="text" id="name" name="name"><br>
        <button type="submit">Create</button>
    </form>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}