{% extends "layout.html" %}
{% load static %}

{% block title %}
    Edit mealplan
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/editmealplan.css' %}">
{% endblock %}

{% block main %}

<div class="grid-container">
    <div class="grid-item"></div>
    <div class="grid-item">Breakfast</div>
    <div class="grid-item">Lunch</div>
    <div class="grid-item">Snack</div>
    <div class="grid-item">Dinner</div>
    {% for day, value in days %}
        <div class="grid-item"> {{ day }} </div>
        {% if value.Breakfast.recipe %}
            <div class="grid-item">
                <a href="#" class="open-modal-link" data-day="{{ day }}" data-category="Breakfast">
                    {{ value.Breakfast.recipe }}
                </a>
            </div>
        {% else %}
            <div class="grid-item">
                <a href="#" class="open-modal-link" data-day="{{ day }}" data-category="Breakfast">
                    EMPTY</a></div>
        {% endif %}
        {% if value.Lunch.recipe %}
            <div class="grid-item">
                <a href="#" class="open-modal-link" data-day="{{ day }}" data-category="Lunch">
                    {{ value.Lunch.recipe }}
                </a>
            </div>
        {% else %}
            <div class="grid-item">
                <a href="#" class="open-modal-link" data-day="{{ day }}" data-category="Lunch">
                    EMPTY
                </a>
            </div>
        {% endif %}
        {% if value.Snack.recipe %}
            <div class="grid-item">
                <a href="#" class="open-modal-link" data-day="{{ day }}" data-category="Snack">
                    {{ value.Snack.recipe }}
                </a>
            </div>
        {% else %}
            <div class="grid-item">
                <a href="#" class="open-modal-link" data-day="{{ day }}" data-category="Snack">
                    EMPTY
                </a>
            </div>
        {% endif %}
        {% if value.Dinner.recipe %}
            <div class="grid-item">
                <a href="#" class="open-modal-link" data-day="{{ day }}" data-category="Dinner">
                    {{ value.Dinner.recipe }}
                </a>
            </div>
        {% else %}
            <div class="grid-item">
                <a href="#" class="open-modal-link" data-day="{{ day }}" data-category="Dinner">
                    EMPTY
                </a>
            </div>
        {% endif %}
    {% endfor %}
</div>

<!-- Modal -->
<div class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>

        <form id="meal-plan-form" method="POST" action="{% url 'edit_mealplan' mealplan.id %}">
            {% csrf_token %}
            <input type="hidden" name="day" value="">
            <input type="hidden" name="category" value="">
            <label for="recipe">CHOOSE MEAL</label>
            <select id="recipe" name="recipe" size="5">
                {% for recipe in recipes %}
                    <option value="{{ recipe.id }}">{{ recipe.name }}</option>
                {% endfor %}
            </select>
            <button type="submit">Create</button>
        </form>
    </div>
</div>

<script src="{% static 'javascript/editmealplan.js' %}"></script>
{% endblock %}
