{% extends "layout.html" %}
{% load static %}

{% block title %}
    {{Title}}
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block main %}

<div class="filter-container">
    <h1>Filter Recipes by Ingredients</h1>
    <input class="input-filter-field" type="text" id="ingredients" name="ingredients" placeholder="e.g., cucumber, tomato" required>
    <button class="input-filter-field-button" id="selectIngredient">Select</button>
    <div class="selected-ingredients-container" id="selectedIngredientsContainer"></div>

    <form method="GET" action="{% url 'all_recipes' %}">
        <input type="hidden" id="selectedIngredients" name="selectedIngredients">
        <button class="ingredient-form-button" type="submit">Filter</button>
    </form>
</div>

<div class="ps-container">
    {% if recipes.has_previous %}
        <a href="?page=1">
            <button class="ps-button">&laquo First</button>
        </a>
        <a href="?page={{ recipes.previous_page_number }}">
            <button class="ps-button">Previous</button>
        </a>
    {% endif %}

    Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}

    {% if recipes.has_next %}
        <a href="?page={{ recipes.next_page_number }}">
            <button class="ps-button">Next</button>
        </a>
        <a href="?page={{ recipes.paginator.num_pages }}">
            <button class="ps-button">Last &raquo</button>
        </a>
    {% endif %}
</div>

<br>

<div class="parent-container">
{% for recipe in recipes %}
    <div class="food-container">
        <div class="left-container">
            <div class="food-name">
                <h3>
                    <a href="{% url 'recipe' recipe.id %}">{{ recipe.name }}</a>
                </h3>
            </div>
            <div class="food-picture">

                {% if recipe.image %}
                    <img class="food-img" src="{% static recipe.image %}" alt="My image">
                {% else %}
                    <img class="food-img"  src="{% static 'images/No_image_available.svg.webp' %}" alt="My image">
                {% endif %}

            </div>
        </div>
        <div class="right-container">
            <div class="rating">
                <div>Rating:</div>
                <div>{{ recipe.rating }}</div>
            </div>
            <div class="time">
                <div>Time:</div>
                <div>{{ recipe.cook_time }}</div>
            </div>
            <div class="difficulty">
                <div>Difficulty:</div>
                <div>{{ recipe.difficulty }}</div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
<script>
    const sButton = document.getElementById("selectIngredient");
    const sInputField = document.getElementById("ingredients");
    const hInputField = document.getElementById("selectedIngredients");
    const sItemsContainer = document.getElementById("selectedIngredientsContainer");
    const arrayOfSelectedI = [];

    $(function () {
        // Get a list of all ingredients from your view and split them into an array
        const allIngredients = [{% for ingredient in all_ingredients %}"{{ ingredient }}",{% endfor %}];

        // Initialize autocomplete on the input field
        $("#ingredients").autocomplete({
            source: allIngredients,
            // Specify other options as needed
        });
    });

    // Function to update the selected ingredients container
    function updateSelectedIngredients() {
        sItemsContainer.innerHTML = ""; // Clear the container

        // Iterate through arrayOfSelectedI and create a div for each selected ingredient
        arrayOfSelectedI.forEach((ingredient, index) => {
            const div = document.createElement("div");
            div.className = "sItem-container";

            // Create a text node with the ingredient
            const ingredientText = document.createTextNode(ingredient);
            div.appendChild(ingredientText);

            // Create a button to remove the ingredient
            const deleteButton = document.createElement("button");
            deleteButton.textContent = "X";
            deleteButton.className = "sItem-button";
            deleteButton.addEventListener("click", () => {
                // Remove the ingredient from the array
                arrayOfSelectedI.splice(index, 1);

                // Update the selected ingredients container
                updateSelectedIngredients();
                hInputField.value = arrayOfSelectedI.join('&');
            });

            div.appendChild(deleteButton);
            sItemsContainer.appendChild(div);
        });
    }


    // Attach a click event handler to the sButton
    sButton.addEventListener("click", function (event) {
        event.preventDefault(); // Prevent the form submission (if it's inside a form)

        // Get the current content of hInputField and sInputField
        const selectedIngredient = sInputField.value.trim();
        // Check if sInputField is not empty
        if (selectedIngredient !== "") {
            arrayOfSelectedI.push(selectedIngredient);
            // Clear the sInputField for the next ingredient
            sInputField.value = "";

            hInputField.value = arrayOfSelectedI.join('&');
            updateSelectedIngredients();
        }
    });
</script>

{% endblock %}
