{% extends "layout.html" %}
{% load static %}

{% block title %}
    {{Title}}
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
{% endblock %}

{% block main %}
<div class="parent-container">
{% for recipe in recipes %}
    <div class="food-container">
        <div class="left-container">
            <div class="food-name">
                <h3>
                    <a href="{% url 'recipe' recipe.id %}">{{ recipe.name }}</a>
                </h3>
            </div>
            <div class="food-picture">

                {% if recipe.image %}
                    <img class="food-img" src="{% static recipe.image %}" alt="My image">
                {% else %}
                    <img class="food-img"  src="{% static 'images/No_image_available.svg.webp' %}" alt="My image">
                {% endif %}

            </div>
        </div>
        <div class="right-container">
            <div class="rating">
                <div>Rating:</div>
                <div>{{ recipe.rating }}</div>
            </div>
            <div class="time">
                <div>Time:</div>
                <div>{{ recipe.cook_time }}</div>
            </div>
            <div class="difficulty">
                <div>Difficulty:</div>
                <div>{{ recipe.difficulty }}</div>
            </div>
        </div>
    </div>
{% endfor %}
</div>


{% endblock %}
