{% extends "layout.html" %}
{% load static %}

{% block title %}
    {{Title}}
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
{% endblock %}

{% block main %}
<div class="parent-container">
{% for recipe in recipes %}
    <div class="food-container">
        <div class="left-container">
            <div class="food-name">
                <h3>
                    {{ recipe.name }}
                </h3>
            </div>
            <div class="food-picture">
                {% if recipe.image %}
                    <img  src="{% static recipe.image %}" alt="My image">
                {% else %}
                    <img  src="{% static 'images/notavailable.png' %}" alt="My image">
                {% endif %}

            </div>
        </div>
        <div class="right-container">
            <div>{{ recipe.rating }}</div>
            <div>{{ recipe.cook_time }}</div>
            <div>{{ recipe.difficulty }}</div>
        </div>
    </div>
{% endfor %}
</div>


{% endblock %}
